html(ng-module="app")
    head
        title
        base(href="/")

        link(href='./css/utilities.css', rel='stylesheet')
        link(href='./css/main.css', rel='stylesheet')
    body
        nav
        main
        footer
        script(src='./scripts/bundle.js')
