@import "../variables";

html {
  height: 100%;
}
body {
  position:relative; 
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.preloader {
  flex: 1;
  position: absolute;
  display: flex;
  background: $background;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
[ui-view].ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
[ui-view].ng-enter.ng-enter-active {
  opacity:1;
}